*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(245, 230, 213);
}
/*
.buttons{
    display: flex;
    flex-direction: row-reverse;
}
.search{
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    margin-top: 10px;
    margin-right: 20px;
}
.search > input{
    background-color: transparent;
    outline: none;
    border: none;
    text-align: center;
    margin-right: 25px;
}
::placeholder{
    color: black;
}
.search > button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.search > .MuiSvgIcon-root{
    margin-top: 10px;
}
.current > button{
    background-color: rgb(123, 188, 245);
    padding: 11px;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    justify-content: space-around ;
}
.div1{
    text-align: center;
    padding-top: 1px;
}
.div2{
    text-align: center;
    padding-top: 5px;
}

.title{
    font-size:30px;
    position: relative;
    text-align: center;
    margin-top: 7vh;

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 30vw;
    height: 60vh;
    background-color: white;
    border-radius: 10px;
    transform: translateY(15%);
}

.card > .weatherIcon{
    padding-top: 20px;
    text-align: center;
}
@media screen and (max-width:780px) {
    .card{
        width: 50vw;
    }
} */

.name{
    color: saddlebrown;
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding-top: 30px;    
}
.container{
    border : 0px solid black;
    border-radius: 30px;
    box-shadow: 10px 10px 5px gray;
    width: 62vw;
    height: 75vh;
    margin-top:3%;  
    margin-left: 20%; 
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 239, 225);
}

.left{
    background-color: white;
    border: 10px solid rgb(189, 185, 185);
    border-radius: 30px;
    width: 20vw;
    height: 65vh;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.left > img{
    margin-top:30px;
    width: 250px;
    height: 250px;
}

.left > .temp{
    display: flex;
    margin-top:20px;
    margin-left: 40px;
}

.temp > .number{
    font-size: 70px;
}

.temp > .deg{
    margin-left: 10px;
    font-size: 40px;
}

.left > .desc{
    margin-top: 30px;
    margin-left: 40px;
    color: grey;
    font-size: 30px;
    font-weight: bold;
}

.right{
    border: 0px solid red;
    width: 35vw;
    height: 65vh;
}

.right > .part1{
    display: flex;
    margin-left: 30px;
    margin-top:10px;
}

.part1 > .week{
    font-size: 30px;
    font-weight: bold;
}

.part1 > .date{
    margin-top: 5px;
    font-size: 25px;
}

.part2{
    border :2px solid rgb(248, 149, 96);
    border-radius: 15px;
    width: 80%;
    height: 5%;
    margin-top: 5px;
    margin-left: 25px;
}

.part2 > input{
    width: 100%;
    background-color: transparent;
    border: none;
    text-decoration: none;
    outline: none;
    padding-left: 15px;
}


.part3{
    border: 0px solid black;
    margin-top: 10px;
    height: 80%;
}

.part3 > table{
    border: 3px solid rgb(215, 212, 212);
    width: 100%;
    height: 100%;
    background-color: rgb(215, 212, 212);
    border-radius: 15px;
}

tr, td{
    border: 5px solid rgb(215, 212, 212);
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}
tr{
    background-color: rgb(215, 212, 212);
}
td{
    border-radius: 15px;
}
.leftPart3{
    display: flex;
}
.desc3{
    font-size: 25px;
    color:  grey;
    margin-left: 10px;
}
.temp3{
    font-size: 35px;
    padding-top: 10px;
    margin-left: 10px;
}

.leftPart3 > div > .MuiSvgIcon-root{
    font-size: 40px;
    margin-left: 70px;
    padding-top: 20px;
}
.leftPart3 > div > div> span{
    font-size: 20px;
    padding-left: 0px;
}
