*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(96, 96, 246);
}
/*
.buttons{
    display: flex;
    flex-direction: row-reverse;
}
.search{
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    margin-top: 10px;
    margin-right: 20px;
}
.search > input{
    background-color: transparent;
    outline: none;
    border: none;
    text-align: center;
    margin-right: 25px;
}
::placeholder{
    color: black;
}
.search > button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.search > .MuiSvgIcon-root{
    margin-top: 10px;
}
.current > button{
    background-color: rgb(123, 188, 245);
    padding: 11px;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    justify-content: space-around ;
}
.div1{
    text-align: center;
    padding-top: 1px;
}
.div2{
    text-align: center;
    padding-top: 5px;
}

.title{
    font-size:30px;
    position: relative;
    text-align: center;
    margin-top: 7vh;

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 30vw;
    height: 60vh;
    background-color: white;
    border-radius: 10px;
    transform: translateY(15%);
}

.card > .weatherIcon{
    padding-top: 20px;
    text-align: center;
}
@media screen and (max-width:780px) {
    .card{
        width: 50vw;
    }
} */


.container{
    border : 1px solid black;
    width: 50vw;
    height: 70vh;
    margin-top:10%;  
    margin-left: 25%; 
    display: flex; 
    align-items: center;
    justify-content: center;
}

.left{
    background-color: white;
    border: 10px solid pink;
    border-radius: 30px;
    width: 20vw;
    height: 65vh;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.left > img{
    margin-top:30px;
    width: 250px;
    height: 250px;
}

.left > .temp{
    display: flex;
    margin-top:20px;
    margin-left: 40px;
}

.temp > .number{
    font-size: 100px;
}

.temp > .deg{
    margin-left: 10px;
    font-size: 40px;
}

.left > .desc{
    margin-top: 30px;
    margin-left: 40px;
    color: grey;
    font-size: 30px;
    font-weight: bold;
}

.right{
    background-color: azure;
    border: 1px solid red;
    width: 35vw;
    height: 65vh;
}

.right > .part1{
    display: flex;
    margin-left: 30px;
    margin-top:10px;
}

.part1 > .week{
    font-size: 30px;
    font-weight: bold;
}

.part1 > .date{
    margin-top: 5px;
    font-size: 25px;
}

.part2{
    border :2px solid rgb(246, 90, 7);
    border-radius: 15px;
    width: 70%;
    height: 5%;
    margin-top: 5px;
    margin-left: 25px;
}

.part2 > input{
    width: 100%;
    background-color: transparent;
    border: none;
    text-decoration: none;
    outline: none;
}

::placeholder{
    padding-left: 10px;
}

.part3{
    border: 1px solid black;
    margin-top: 10px;
    height: 80%;
}
