*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(245, 230, 213);
}

.name{
    color: saddlebrown;
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding-top: 30px;    
}
.container{
    border : 0px solid black;
    border-radius: 30px;
    box-shadow: 10px 10px 5px gray;
    width: 62vw;
    height: 75vh;
    margin-top:3%;  
    margin-left: 20%; 
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 239, 225);
}

.left{
    background-color: white;
    border: 10px solid rgb(189, 185, 185);
    border-radius: 30px;
    width: 20vw;
    height: 65vh;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.left > img{
    margin-top:30px;
    margin-left: 10px;
    width: 250px;
    height: 250px;
}

.left > .temp{
    display: flex;
    margin-top:20px;
    margin-left: 40px;
}

.temp > .number{
    font-size: 70px;
}

.temp > .deg{
    margin-left: 10px;
    font-size: 40px;
}

.left > .desc{
    margin-top: 30px;
    margin-left: 40px;
    color: grey;
    font-size: 30px;
    font-weight: bold;
}

.right{
    border: 0px solid red;
    width: 35vw;
    height: 65vh;
}

.right > .part1{
    display: flex;
    margin-left: 30px;
    margin-top:10px;
}

.part1 > .week{
    font-size: 30px;
    font-weight: bold;
}

.part1 > .date{
    margin-top: 5px;
    font-size: 25px;
}

.part2{
    display: flex;
    justify-content: space-between;
    height: 6%;
    margin-top: 5px;
    margin-left: 25px;
}

.part2 > input{
    width: 70%;
    background-color: transparent;
    border: 2px solid rgb(248, 149, 96);
    border-radius: 15px;
    text-decoration: none;
    outline: none;
    padding-left: 15px;
}

.part2 > button{
    background-color: rgb(187, 240, 192);
    border:3px solid rgb(103, 185, 31);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}
.part2 > button:hover{
    border:3px solid rgb(81, 151, 20);
}
.part3{
    border: 0px solid black;
    margin-top: 10px;
    height: 80%;
}

.part3 > table{
    border: 3px solid rgb(215, 212, 212);
    width: 100%;
    height: 100%;
    background-color: rgb(215, 212, 212);
    border-radius: 15px;
}

tr, td{
    border: 5px solid rgb(215, 212, 212);
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}
tr{
    background-color: rgb(215, 212, 212);
}
td{
    border-radius: 15px;
}
.leftPart3{
    display: flex;
    justify-content: space-between;
}
.leftPart3 > div{
    margin: 0;
    border: 0px solid black;
}
.desc3{
    font-size: 25px;
    color:  grey;
    margin-left: 10px;
}
.temp3{
    font-size: 35px;
    padding-top: 10px;
    margin-left: 10px;
}

.leftPart3 > div > .MuiSvgIcon-root{
    font-size: 40px;
    margin-left: 70px;
    padding-top: 20px;
}
.leftPart3 > div > div > span{
    font-size: 20px;
    margin-bottom: 10px;
}

.mobile{
    display: none;
}

@media screen and (max-width:768px) {
    .mobile{
        display: block;
    }
    .name{
        font-size: 20px;
    }
    .inputM{
        margin: 10px;
        background-color: white;
        border: 3px solid rgb(215, 212, 212);
        border-radius: 15px;
    }
    .dayInfo{
        margin:10px;
        display: flex;
        font-size: 30px;
    }
    .inputM > .input{
        display: flex;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 5px;
        border: 2px solid orange;
        border-radius: 15px;
        margin: 5px;
    }

    .input > input{
        outline: none;
        border: 0;
    }

    .input > button{
        border : 0;
        background-color: transparent;
        padding-top: 2px;
        cursor: pointer;
        color: brown;
    }


    .tempInfo{
        display: flex;
        margin: 10px;
        background-color: white;
        border: 3px solid rgb(215, 212, 212);
        border-radius: 15px;
    }

    .tempInfo >  img{
        padding-left: 5px;
    }

    .tempInfo > div > .temp{
        font-size: 40px;
        padding-top: 25px;
        padding-left: 5px;
    }

    .tempInfo > div > .desc{
        padding-top: 5px;
        padding-left: 15px;
    }

    .detailM{
        margin: 5px;
        margin: 10px;
        background-color: rgb(215, 212, 212);
        border: 4px solid rgb(215, 212, 212);
        border-radius: 20px;
    }

    .detailM > .one, .two, .three, .four, .five, .six{
        display: flex;
        justify-content: space-between;
        border: 4px solid rgb(215,212,212);
        border-radius: 15px;
        background-color: white;
    }

    .one > div > .MuiSvgIcon-root{
        font-size: 40px;
        margin-left: 70px;
        padding-top: 20px;
    }

    .two > div > .MuiSvgIcon-root{
        font-size: 40px;
        margin-left: 70px;
        padding-top: 20px;
    }
    .three > div > .MuiSvgIcon-root{
        font-size: 40px;
        margin-left: 70px;
        padding-top: 20px;
    }
    .four > div > .MuiSvgIcon-root{
        font-size: 40px;
        margin-left: 70px;
        padding-top: 20px;
    }
    .five > div > .MuiSvgIcon-root{
        font-size: 40px;
        margin-left: 70px;
        padding-top: 20px;
    }
    .six > div > .MuiSvgIcon-root{
        font-size: 40px;
        margin-left: 70px;
        padding-top: 20px;
    }
    .container{
        display :none;
    }
}
